$_weights: (
  100: 95%,
  200: 90%,
  300: 87%,
  400: 74%,
  500: 61%,
  600: 48%,
  700: 35%,
  800: 22%,
  900: 9%
);

$_colors: (
  "silver": (
    "hue": 255,
    "saturation": 7%,
    "function": "dark-cold"
  ),
  "nickel": (
    "hue": 285,
    "saturation": 8%,
    "function": "dark-warm"
  ),
  "plum": (
    "hue": 320,
    "saturation": 52%,
    "function": "secondary"
  ),
  "rose": (
    "hue": 320,
    "saturation": 85%,
    "function": "primary"
  ),
);

:root {
  @each $colorName, $colorMap in $_colors {
    $name: map-get($colorMap, "function");
    // weights
    @each $weightName, $weightValue in $_weights {
      $hsValue: map-get($colorMap, "hue") map-get($colorMap, "saturation");
      $colorPropName: --color-#{$name};
      $colorPropWeightedName: #{$colorPropName}-#{$weightName};
      #{$colorPropName}-hs: #{$hsValue};
      #{$colorPropWeightedName}: hsl(var(#{$colorPropName}-hs) $weightValue);
    }
  }
  --color-primary: var(--color-primary-700);
  --color-secondary: var(--color-secondary-700);
  --color-dark: var(--color-dark-cold-700);
  --color-bright: var(--color-dark-warm-200);
  // IA Presenter Theme used color props
  --code-background: hsl(0 0% 0% / .03);
  --code-border: rgba(0,0,0,0.7);
  --code-text: #676767;
  --code-comment: #80878D;
  --code-type: #EF98A8;
  --code-include: #C596C9;
  --code-string: #A59CC7;
  --code-class-name: #94A5CB;
  --code-numbers: #E8D670;
  --code-variables: #77B5E3;
  --code-functions: #DF8DC0;
  --code-literal: #F6B99A;
  --dark-code-background: rgba(0,0,0,0.7);
  --dark-code-border: rgba(0,0,0,0.7);
  --dark-code-text: #F7F7F7;
  --dark-code-comment: #80878D;
  --dark-code-type: #EF98A8;
  --dark-code-include: #C596C9;
  --dark-code-string: #A59CC7;
  --dark-code-class-name: #94A5CB;
  --dark-code-numbers: #E8D670;
  --dark-code-variables: #77B5E3;
  --dark-code-functions: #DF8DC0;
  --dark-code-literal: #F6B99A;
  color: var(--color-dark-cold-800);
}
